Hubo/Hubo.Droid/bin/
Hubo/Hubo.Droid/obj/
Hubo/Hubo.UWP/bin/
Hubo/Hubo.UWP/obj/
Hubo/Hubo.WinPhone/bin/
Hubo/Hubo.WinPhone/obj/
Hubo/Hubo.Windows/bin/
Hubo/Hubo.Windows/obj/
Hubo/Hubo.iOS/bin/
Hubo/Hubo.iOS/obj/
Hubo/Hubo/bin/
Hubo/Hubo/obj/
packages/*
!packages/repositories.config
Test/bin/
Test/obj/
