Hubo/Hubo.Droid/bin/
Hubo/Hubo.Droid/obj/
Hubo/Hubo.UWP/bin/
Hubo/Hubo.UWP/obj/
Hubo/Hubo.WinPhone/bin/
Hubo/Hubo.WinPhone/obj/
Hubo/Hubo.Windows/bin/
Hubo/Hubo.Windows/obj/
Hubo/Hubo.iOS/bin/
Hubo/Hubo.iOS/obj/
Hubo/Hubo/bin/
Hubo/Hubo/obj/
packages/*
!packages/repositories.config
Test/bin/
Test/obj/
triotech.hubo.droid.apk
Hubo/Hubo/App.xaml.orig
Hubo/Hubo/Services/DatabaseService.cs.orig
Hubo/Hubo/Services/RestService.cs.orig
Hubo/Hubo/ViewModels/HistoryViewModel.cs.orig
Hubo/Hubo/ViewModels/HomeViewModel.cs.orig
